@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Paleta de Cores: 
    Roxo: #570591
    Ciano escuro: #5BC0BE
    Ciano: #6FFFE9
*/

:root {
    --roxo: #570591;
    --cianoec: #5BC0BE;
    --ciano: #6FFFE9;
}

@media all {
    * {
        margin: 0px;
        padding: 0px;
        font-family: 'Open Sans', sans-serif;
        box-sizing: border-box;
    }

    body {
        background-color: #5BC0BE;
        width: 100vw;
        height: 100vh;
    }

    section#login{
        position: absolute;
        top: 50%;
        left: 50%;

        background-color: white;
        width: 400px;
        height: 650px;
        border-radius: 15px;

        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.322);
        
        transform: translate(-50%, -50%);
    }

    section#login h1 {
        font-size: 1.6em;
        text-align: center;
        margin: 30px;
    }

    section#login p#introducao {
        margin: 20px;
        text-align: justify;
    }

    form > div.campo {
        background-color: #570591c2;
        color: white;
        border-radius: 10px;
        margin: 0px 20px;
        padding: 15px;
    }

    div.campo > i {
        margin-right: 5px;
    }

    div.campo > input {
        background-color: #5bc0be;
        font-size: 1em;
        width: 100%;
        padding: 3px;
        margin-bottom: 10px;
        border-radius: 5px;
        border: none;
    }

    div.campo > input:focus-within {
        background-color: white;
    }

    form > input[type=submit] {
        display: flex;
        background-color: var(--cianoec);
        color: white;
        font-size: 1em;
        width: 90%;
        height: 50px;
        margin: auto;
        margin-top: 10px;
        justify-content: center; 
        border-radius: 5px;
        border: none;
    }

    form > input[type=submit]:hover {
        background-color: #348685;
    }

    form > a#botao {
        display: flex;
        color: #0055AA;
        font-size: 0.9em;
        justify-content: center;
        text-decoration: none;
        margin: 2px 20px;
        padding: 10px;
        border-radius: 5px
    }

    form >a#botao:hover {
        color: darkblue;
    }
}